@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #444;
  scroll-behavior: smooth;
}

ul [class],
ol [class] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.container {
  max-width: 1200px;
  min-width: 320px;
}

@media screen and (max-width: 768px) {
  body.lock {
    overflow-y: hidden;
  }
}
.header {
  z-index: 100;
  position: fixed;
  background: #fff;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(119, 119, 119, 0.164);
          box-shadow: 2px 2px 2px 2px rgba(119, 119, 119, 0.164);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 28px 0;
}
.header__logo {
  max-width: 130px;
  max-height: 35px;
  width: 100%;
  height: auto;
  padding: 0;
  z-index: 500;
}

.nav {
  padding: 0;
}
.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .nav__body {
    margin: 100px auto;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nav__wrapper {
  padding: 0;
}

a.nav__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
}
a.nav__link:hover {
  color: #000;
}
a.nav__link:hover::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 1px;
  background: #000;
  left: -30px;
  top: 50%;
}

.menu__search:hover {
  color: #000;
}
.menu__search:hover::before {
  display: none;
}

.current a {
  color: #000;
}

.header__burger {
  display: none;
  z-index: 500;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__owerlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 10;
}
.header__owerlay.active {
  display: block;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    background: #fff;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .menu {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .menu.active {
    visibility: visible;
    left: 0;
    z-index: 100;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .menu a {
    text-decoration: none;
  }
  .menu a.menu__item {
    text-transform: uppercase;
    display: block;
    margin: 20px auto;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .menu a.menu__item:hover {
    color: #fce38a;
  }
}
.header__button.active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__button.active > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header__button.active > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.header__button > span::before {
  content: "";
  top: -8px;
}

.header__button > span::after {
  content: "";
  top: 8px;
}

@media screen and (max-width: 768px) {
  .search {
    display: none;
  }
}

.title {
  margin-top: 87px;
}
@media screen and (max-width: 992px) {
  .title {
    background-position: right -100px bottom 50%;
  }
}
@media screen and (max-width: 768px) {
  .title {
    background-position: right -200px bottom 50%;
  }
}
@media screen and (max-width: 576px) {
  .title {
    background: #fff;
  }
}
.title__body {
  text-align: left;
}
@media screen and (max-width: 576px) {
  .title__body {
    text-align: center;
  }
}
.title__title {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 0 10px;
  background: #000;
  display: inline-block;
  margin-top: 115px;
  margin-bottom: 41px;
}
@media screen and (max-width: 992px) {
  .title__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  .title__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  .title__title {
    color: #000;
  }
}
.title__subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-bottom: 122px;
}
@media screen and (max-width: 768px) {
  .title__subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .title__subtitle {
    margin-bottom: 0;
  }
}

.filter {
  padding: 175px 0 100px;
}
.filter__wrapper {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filter__more {
  max-width: 125px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 6px 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: #959595;
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.filter__more:focus {
  outline: none;
  color: #000;
}
.filter__more:hover {
  color: #000;
}

.tabs__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 25px;
  margin: 0 auto 30px;
}
@media screen and (max-width: 992px) {
  .tabs__btns {
    margin-right: 30px;
  }
}

.tabs__btn {
  color: #777;
  margin-right: 45px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tabs__btn:hover {
  color: #333;
}
.tabs__btn:last-child {
  margin-right: 0;
}
.tabs__btn:focus {
  outline: none;
}

.tabs__card {
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  display: none;
  -webkit-animation: appear 1s forwards;
          animation: appear 1s forwards;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tabs__card.active {
  display: block;
}
.tabs__card img {
  width: 100%;
}

.tabs__cards {
  -webkit-columns: 3;
          columns: 3;
  max-height: 1900px;
  height: 100%;
  width: auto;
  margin-bottom: 40px;
}

.about-tetle {
  background: url("../img/about/about-title-bg.png") no-repeat center/cover;
}

.about-company {
  padding: 75px 0 50px;
}
@media screen and (max-width: 768px) {
  .about-company {
    padding: 40px 0 20px;
  }
}
.about-company__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -25px;
}
@media screen and (max-width: 992px) {
  .about-company__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .about-company__body {
    margin: 0 auto;
  }
}
.about-company__pic {
  max-height: 600px;
  height: auto;
  width: calc(100% / 12 * 5);
  margin: 0 25px;
}
@media screen and (max-width: 992px) {
  .about-company__pic {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .about-company__pic {
    margin: 0 auto;
  }
}
.about-company__img {
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (max-width: 992px) {
  .about-company__img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .about-company__img {
    width: 100%;
    height: 100%;
  }
}
.about-company__content {
  width: calc(100% / 12 * 6);
  margin: 0 25px;
}
@media screen and (max-width: 992px) {
  .about-company__content {
    width: calc(100% / 12 * 8);
    margin-top: 30px;
  }
}
@media screen and (max-width: 900px) {
  .about-company__content {
    width: calc(100% / 12 * 9);
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .about-company__content {
    width: calc(100% / 12 * 10);
  }
}
@media screen and (max-width: 576px) {
  .about-company__content {
    width: calc(100%);
    margin: 30px auto 0;
  }
}
.about-company__story {
  margin-bottom: 30px;
}
.about-company__title {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 37px;
  letter-spacing: 7px;
}
@media screen and (max-width: 576px) {
  .about-company__title {
    margin-bottom: 15px;
  }
}
.about-company__text {
  font-size: 14px;
  color: #828282;
  margin-bottom: 42px;
  line-height: 25px;
}
@media screen and (max-width: 576px) {
  .about-company__text {
    margin-bottom: 20px;
  }
}
.about-company__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .skills-item {
    padding: 0 15px 0 0;
  }
}
.skills-item__title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}
.skills-item__wrapper {
  width: 100%;
  height: 10px;
  background: #ebebeb;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills-item__line {
  height: 2px;
  width: 88.5%;
  background: #a1a1a1;
  margin-left: 5px;
  position: relative;
}
.skills-item__line::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background: #fff;
  border: 4px solid #000;
  border-radius: 50%;
}
.skills-item__line_branding {
  width: 94%;
}
.skills-item__line_photography {
  width: 50%;
}
.skills-item__line_web-desing {
  width: 85%;
}
.skills-item__number {
  position: absolute;
  width: 40px;
  height: 20px;
  background: #041608;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fff;
  right: -37px;
  top: -40px;
}
.skills-item__number p {
  letter-spacing: 1px;
  padding: 2px 0 0 2px;
  position: relative;
}
.skills-item__flag {
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  left: 0px;
  bottom: -8px;
  border: 4px solid transparent;
  border-left: 4px solid #041608;
  border-top: 4px solid #041608;
}

.about-team {
  padding: 50px 0 100px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about-team {
    padding: 20px 0 50px;
  }
}
.about-team__body {
  width: 100%;
}
.about-team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
@media screen and (max-width: 1199px) {
  .about-team__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-title {
  text-align: center;
}
.team-title__title {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.team-title__subtitle {
  max-width: 610px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  color: #828282;
  margin: 40px auto 65px;
}
@media screen and (max-width: 576px) {
  .team-title__subtitle {
    margin: 20px auto 30px;
  }
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 12 * 4 - 30px);
  margin: 0 15px;
}
@media screen and (max-width: 992px) {
  .team-item {
    width: calc(100% / 12 * 6 - 30px);
  }
  .team-item:last-child {
    margin-top: 33px;
  }
}
@media screen and (max-width: 576px) {
  .team-item {
    width: calc(100% - 30px);
  }
  .team-item:not(:first-child) {
    margin-top: 25px;
  }
}
.team-item__pic {
  width: 100%;
  height: auto;
  display: block;
}
.team-item__pic img {
  width: 100%;
  display: block;
}
.team-item__content {
  max-width: 280px;
  width: 100%;
  margin-top: 33px;
}
@media screen and (max-width: 576px) {
  .team-item__content {
    margin-top: 20px;
  }
}
.team-item__title {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
}
.team-item__subtitle {
  font-size: 16px;
  color: #777;
  margin: 9px 0 12px;
}
.team-item__text {
  font-size: 14px;
  color: #a4a4a4;
}

.blog-title {
  background: url("../img/blog/blog-title-bg.png") no-repeat center/cover;
}

.blog {
  background: #fafafa;
  padding: 70px 0 100px;
}
.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__sidebar {
  padding-right: 0;
}
.blog__search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px 12px;
  background: #fff;
  margin-bottom: 25px;
}
.blog__input {
  max-width: 280px;
  width: 100%;
  border: 0;
  margin-right: 5px;
}
.blog__input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #a0a0a0;
}
.blog__input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #a0a0a0;
}
.blog__input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #a0a0a0;
}
.blog__input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #a0a0a0;
}
.blog__input:focus {
  outline: none;
}
.blog__loop {
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  padding: 11px;
  background: #999;
  border-radius: 3px;
}
.blog__button {
  max-width: 125px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 6px 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: #959595;
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.blog__button:focus {
  outline: none;
  color: #000;
}
.blog__button:hover {
  color: #000;
}

.post {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.post__items {
  -webkit-columns: 2;
          columns: 2;
  margin-bottom: 70px;
}
.post__item {
  max-width: 360px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
}
.post__item:hover {
  color: #fff;
}
.post__pic {
  position: relative;
}
.post__pic:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  left: 0;
  top: 0;
  display: none;
}
.post__link {
  max-width: 360px;
  display: block;
  margin: 0 auto 35px;
}
.post__link:hover {
  background: rgba(0, 0, 0, 0.85);
}
.post__link:hover .post__title,
.post__link:hover .post__by,
.post__link:hover .post__text,
.post__link:hover .post__footer {
  color: #fff;
}
.post .post__link:hover .post__pic:before {
  display: block;
}
.post__img {
  width: 100%;
  height: auto;
}
.post__wrapper {
  padding: 30px 35px 35px;
}
.post__title {
  font-size: 20px;
  color: #333;
  line-height: 29px;
}
.post__by {
  font-size: 13px;
  color: #a0a0a0;
  font-weight: 300;
  margin: 15px 0 30px;
}
.post__span {
  margin-right: 7px;
}
.post__text {
  font-size: 14px;
  color: #777;
  line-height: 23px;
}
.post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  font-size: 13px;
  color: #a0a0a0;
  font-weight: 300;
}

.fa-share-alt {
  margin-right: 7px;
}

.sidebar-title {
  text-align: center;
  border: none;
  width: 100%;
  background: #ebebeb;
  position: relative;
  cursor: pointer;
}
.sidebar-title::before {
  position: absolute;
  content: '';
  border: 7px solid transparent;
  border-top: 7px solid #ebebeb;
  bottom: -14px;
  left: 48%;
}
.sidebar-title__text {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 8px;
  font-weight: 300;
  padding: 10px 0;
}

.posts__wrapper_active::before {
  display: none;
}

.recent-posts {
  background: #fff;
  margin-bottom: 15px;
}
.recent-posts__items {
  padding: 25px;
  -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
}
.recent-posts__link {
  width: auto;
  display: block;
}
.recent-posts__link:not(:last-child) {
  margin-bottom: 11px;
}
.recent-posts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recent-posts__pic {
  margin-right: 25px;
}
.recent-posts__item-body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recent-posts__about {
  font-size: 16px;
  color: #3d3d3d;
}
.recent-posts__date {
  font-size: 13px;
  color: #a0a0a0;
  font-weight: 300;
}

.tags {
  background: #fff;
  margin-bottom: 15px;
}
.tags__body {
  padding: 25px 14px 14px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
}
.tags__item {
  cursor: pointer;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  padding: 5px 12px;
  display: inline-block;
  margin: 0 11px 11px 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.tags__item:hover {
  background: #000;
}
.tags__link {
  color: #a0a0a0;
  font-size: 13px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.tags__link:hover {
  text-decoration: none;
  color: #fff;
}

.instagram {
  background: #fff;
}
.instagram__body {
  padding: 25px 25px 14px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 1px rgba(0, 0, 0, 0.1);
}
.instagram__link {
  margin-bottom: 11px;
  width: auto;
  display: block;
}

.contact {
  background: #fff;
  padding: 75px 0;
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__items {
  padding: 0 15px 0 0;
}
@media screen and (max-width: 768px) {
  .contact__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .contact__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-info {
  padding: 0 15px;
}
.contact-info__span {
  color: #222;
  font-weight: 700;
  letter-spacing: 0.38px;
  font-size: 15px;
  margin-right: 10px;
}
.contact-info__address {
  margin: 50px 0 35px;
  padding: 0;
}
.contact-info__text-address {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
}
.contact-info__address p:not(:last-child) {
  margin-bottom: 35px;
}
.contact-info__tel {
  padding: 0;
  font-weight: 700;
}
.contact-info__tel p:not(:last-child) {
  margin-bottom: 13px;
}
.contact-info__text-tel {
  color: #555;
  line-height: 15px;
}

.contact-title {
  position: relative;
}
.contact-title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 60px;
  background: #000;
  border-radius: 10px;
  top: 90px;
}
@media screen and (max-width: 1038px) {
  .contact-title::after {
    top: 125px;
  }
}
@media screen and (max-width: 992px) {
  .contact-title::after {
    top: 170px;
  }
}
@media screen and (max-width: 768px) {
  .contact-title::after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .contact-title {
    text-align: center;
  }
}
.contact-title__info {
  color: #000;
  font-size: 30px;
  letter-spacing: 12px;
  line-height: 24px;
  text-transform: uppercase;
  line-height: 1.5em;
}
.contact-title__text {
  color: #949594;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 30px;
}

.contact-form {
  padding: 0;
}
.contact-form__body {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
.contact-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .contact-form__inputs {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .contact-form__inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.contact-form__input {
  border: 1px solid #e1e1e1;
  padding: 15px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}
.contact-form__input:not(:last-child) {
  margin-right: 30px;
}
.contact-form__input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__input::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__input:focus {
  outline: none;
}
.contact-form__input_name {
  border-left: 3px solid #afafaf;
}
@media screen and (max-width: 992px) {
  .contact-form__input:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 992px) and (max-width: 576px) {
  .contact-form__input:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .contact-form__input {
    margin: 0 auto 10px;
    max-width: 100%;
  }
}
.contact-form__textarea {
  max-width: 810px;
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid #e1e1e1;
  resize: none;
  margin-bottom: 29px;
}
.contact-form__textarea::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__textarea:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__textarea::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__textarea::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}
.contact-form__textarea:focus {
  outline: none;
}
.contact-form__btn {
  padding: 10px 40px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.33px;
  text-transform: uppercase;
  letter-spacing: 0.79px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.contact-form__btn:hover {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 768px) {
  .contact-form__btn {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-title {
  background: url("../img/about/about-title-bg.png") no-repeat 60% 50%/cover;
}

.our-values {
  margin: 71px 0 45px;
}
.our-values__content {
  text-align: center;
  max-width: 595px;
  width: 100%;
  margin: 0 auto 63px;
}
@media screen and (max-width: 576px) {
  .our-values__content {
    margin: 0 auto 15px;
  }
}
.our-values__title {
  color: #000;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.our-values__subtitle {
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
  color: #777;
  font-size: 14px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}
@media screen and (max-width: 576px) {
  .about-us {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .about-us {
    max-width: 650px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1139px) {
  .about-us {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about-us__item {
  padding: 0;
  max-width: 354px;
  width: 100%;
  height: auto;
  margin-right: 24px;
}
.about-us__item:last-child {
  margin-right: 0;
}
.about-us__title {
  margin: 27px 0 45px;
}
@media screen and (max-width: 768px) {
  .about-us__title {
    margin: 25px 0 15px;
  }
}
.about-us__text {
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
  color: #777;
  font-size: 14px;
}

.footer {
  padding-top: 64px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(119, 119, 119, 0.164);
          box-shadow: 5px 5px 5px 5px rgba(119, 119, 119, 0.164);
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding-top: 30px;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto 44px;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin: 0 auto 35px;
  }
}
@media screen and (max-width: 576px) {
  .footer__logo {
    margin: 0 auto 25px;
  }
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 15px;
  border-top: 1px solid #9595952c;
  border-bottom: 1px solid #9595952c;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.footer__icons a {
  font-size: 14px;
  color: #959595;
}
.footer__icons a:last-child {
  margin-right: 0;
}
.footer__icons a:hover {
  color: #000;
}
.footer__wrapper {
  max-width: 425px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__footer {
  font-size: 13px;
  color: #959595;
  text-transform: uppercase;
  text-align: center;
  margin: 37px 15px 47px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer__footer {
    margin: 25px 15px 35px;
  }
}
@media screen and (max-width: 576px) {
  .footer__footer {
    margin: 20px 15px 25px;
  }
}
.footer__span {
  color: #000;
}
