.contact {
  padding-bottom: 79px;
  .contact__info {
    .contact__title {
      position: relative;
      h2 {
        color: #000000;
        font-size: 30px;
        letter-spacing: 12px;
        line-height: 24px;
        text-transform: uppercase;
        line-height: 1.5em;
      }
      p {
        color: #2f302f;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.4px;
        line-height: 30px;
      }
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 60px;
        background: #000000;
        border-radius: 10px;
        top: 95px;
      }
    }
    .contact__address {
      margin-top: 65px;
      span {
        @include span;
      }
      p {
        color: #777777;
        margin-bottom: 35px;
      }
    }
    .contact__tel {
      span {
        @include span;
      }
      p {
        color: #555555;
        font-weight: 700;
        letter-spacing: 0.38px;
        line-height: 15px;
      }
    }
  }
  .contact__message {
    form {
      .contact__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        input {
          @include input;
        }
        .form__name {
          border-left: 3px solid #afafaf;
        }
      }
      .form__textarea {
        @include textarea;
      }
      .form__btn {
        @include form-btn;
      }
    }
  }
}
