//----------------TITLE--------------------
.contacts-title {
    background: url("../img/about/about-title-bg.png") no-repeat 60% 50%/cover;
}

//----------------OUR VALUES--------------------

.our-values {
    margin: 71px 0 45px;

    &__content {
        text-align: center;
        max-width: 595px;
        width: 100%;
        margin: 0 auto 63px;
  
        @media screen and (max-width: 576px) {
           margin: 0 auto 15px;
        }
    }

    &__title {
        color: #000;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 12px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    &__subtitle {
        font-weight: 400;
        letter-spacing: 0.35px;
        line-height: 30px;
        color: #777;
        font-size: 14px;
    }
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
 
    @media screen and (max-width: 576px) {
       padding: 0;
    }
 
    @media screen and (max-width: 768px) {
       max-width: 650px;
       margin: 0 auto;
    }

    @media screen and (max-width: 1139px) {
        justify-content: center;
    }

    &__item {
        padding: 0;
        max-width: 354px;
        width: 100%;
        height: auto;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;

            // @media screen and (max-width: 768px) {
            //     margin: 0 auto;
            // }

            // @media screen and (max-width: 1139px) {
            //     margin-right: 15px;

            //     &:nth-child(2) {
            //         margin-right: 0;
            //         margin-left: 15px;
            //     }

            //     &:last-child() {
            //         margin-top: 50px;
            //     }
            // }

            // img {
            //     width: 100%;
            //     height: auto;
            // }
        }
    }

    &__title {
        margin: 27px 0 45px;

        @media screen and (max-width: 768px) {
           margin: 25px 0 15px;
        }
    }

    &__text {
        font-weight: 400;
        letter-spacing: 0.35px;
        line-height: 30px;
        color: #777;
        font-size: 14px;
    }
}
