.comment {
  background: #fff;
  padding: 50px 0;
  .comment__container {
    max-width: 810px;
    width: 100%;
    text-align: center;
    margin: auto;
    h5 {
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    form {
      .comment__input {
        display: flex;
        justify-content: space-between;
        margin: 40px 0 22px;
        input {
          @include input;
          max-width: 250px;
        }
        .comment__name {
          border-left: 3px solid #afafaf;
        }
      }
      textarea {
        @include textarea;
        max-width: 810px;
      }
      .comment__btn {
        @include form-btn;
      }
    }
  }
}
