.blog {
  background: #fff;
  padding: 70px 0 0;
  .blog__title {
    text-align: center;
    h2 {
      color: #333333;
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 4.5px;
      margin-bottom: 25px;
    }
    .blog__subtitle {
      display: flex;
      justify-content: center;
      p {
        color: #777777;
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .blog__img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .blog__text {
    max-width: 810px;
    width: 100%;
    margin: auto;
    p {
      color: #777777;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      line-height: 30px;
      span {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 45px;
        text-transform: uppercase;
      }
    }
  }
  .blog__note {
    max-width: 942px;
    width: 100%;
    margin: 33px auto;
    border: 1px solid #e7e6e6;
    border-left: 3px solid #afafaf;
    padding: 25px 35px;
    p {
      max-width: 870px;
      width: 100%;
      color: #777777;
      font-family: "PT Serif", serif;
      font-style: italic;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}
