.kerb {
  .kerb__wrapper {
    height: 90px;
    width: 100%;
    background: #fff;
  }
}
.about {
  background: url(/img/background-blog-section1.png) no-repeat;
  background-position: right 45% bottom 50%;
  .about__title {
    @include title;
    max-width: 550px;
    margin-top: 115px;
  }
  .about__subtitle {
    @include subtitle;
    margin-bottom: 122px;
  }
}
