.footer {
    padding-top: 64px;
    background: #fff;
    box-shadow: 5px 5px 5px 5px rgba(119, 119, 119, 0.164);
    bottom: 0;
    width: 100%;
 
    @media screen and (max-width: 768px) {
       padding-top: 50px;
    }
 
    @media screen and (max-width: 576px) {
       padding-top: 30px;
    }
 
    &__logo {
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       margin: 0 auto 44px;
 
       @media screen and (max-width: 768px) {
          margin: 0 auto 35px;
       }
 
       @media screen and (max-width: 576px) {
          margin: 0 auto 25px;
       }
    }
 
    &__icons {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 25px 15px;
       border-top: 1px solid #9595952c;
       border-bottom: 1px solid #9595952c;
       transition: 0.5s ease-in-out;
       a {
          font-size: 14px;
          color: #959595;
          &:last-child {
             margin-right: 0;
          }
          &:hover {
             color: #000;
          }
       }
    }
 
    &__wrapper {
       max-width: 425px;
       width: 100%;
       justify-content: space-between;
       display: flex;
    }
 
    &__footer {
       font-size: 13px;
       color: #959595;
       text-transform: uppercase;
       text-align: center;
       margin: 37px 15px 47px;
       position: relative;
 
       @media screen and (max-width: 768px) {
          margin: 25px 15px 35px;
       }
 
       @media screen and (max-width: 576px) {
          margin: 20px 15px 25px;
       }
    }
 
    &__span {
       color: #000;
    }
 }
 