//----------------TITLE--------------------
.about-title {
  background: url("../img/about/about-title-bg.png") no-repeat center/cover;

  @media screen and (max-width: 992px) {
    background-position: right -120px bottom 50%;
  }

  @media screen and (max-width: 768px) {
    background-position: right -200px bottom 50%;
  }

  @media screen and (max-width: 576px) {
    background: #fff;
  }
}

//----------------ABOUT COMPANY--------------------

.about-company {
  padding: 75px 0 50px;

  @media screen and (max-width: 768px) {
    padding: 40px 0 20px;
  }

  &__body {
    display: flex;
    justify-content: center;
    margin: 0 -15px;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 576px) {
      margin: 0 auto;
    }
  }

  &__pic {
    max-height: 600px;
    height: auto;
    width: calc(100% / 12 * 6 - 30px);
    margin: 0 15px;

    @media screen and (max-width: 992px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: 576px) {
      margin: 0 auto;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;

    @media screen and (max-width: 992px) {
      width: auto;
      height: auto;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    width: calc(100% / 12 * 6 - 30px);
    margin: 0 15px;

    @media screen and (max-width: 992px) {
      width: calc(100% / 12 * 8);
      margin-top: 30px;
    }

    @media screen and (max-width: 900px) {
      width: calc(100% / 12 * 9);
      margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
      width: calc(100% / 12 * 10);
    }

    @media screen and (max-width: 576px) {
      width: calc(100%);
      margin: 30px auto 0;
    }
  }

  &__story {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 37px;
    letter-spacing: 7px;

    @media screen and (max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 14px;
    color: #828282;
    margin-bottom: 42px;
    line-height: 25px;

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.skills-item {
  @media screen and (max-width: 576px) {
    padding: 0 15px 0 0;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
  }

  &__wrapper {
    width: 100%;
    height: 10px;
    background: #ebebeb;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
  }

  &__line {
    height: 2px;
    width: 88.5%;
    background: #a1a1a1;
    margin-left: 5px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      right: -5px;
      bottom: -5px;
      background: #fff;
      border: 4px solid #000;
      border-radius: 50%;
    }

    &_branding {
      width: 94%;
    }

    &_photography {
      width: 50%;
    }

    &_web-desing {
      width: 85%;
    }
  }

  &__number {
    position: absolute;
    width: 40px;
    height: 20px;
    background: #041608;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    right: -37px;
    top: -40px;

    p {
      letter-spacing: 1px;
      padding: 2px 0 0 2px;
      position: relative;
    }
  }

  &__flag {
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    left: 0px;
    bottom: -8px;
    border: 4px solid transparent;
    border-left: 4px solid #041608;
    border-top: 4px solid #041608;
  }
}

.skills-item:hover .skills-item__number {
  transition: 0.25s ease-in-out;
  transform: scale(1.3);
}
