.footer {
  padding-top: 64px;
  background: #fff;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    position: relative;
  }
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid #95959573;
    border-bottom: 1px solid #95959573;
    transition: 0.5s;
    a {
      margin-right: 55px;
      font-size: 14px;
      color: #959595;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #000;
      }
    }
  }
  p {
    font-size: 13px;
    color: #959595;
    text-transform: uppercase;
    text-align: center;
    margin: 37px 15px 47px;
    position: relative;
    span {
      color: #000;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 35px;
    &__logo {
      margin-bottom: 35px;
    }
    &__icons {
      a {
        margin-right: 30px;
      }
    }
    p {
      margin: 25px 15px;
    }
  }
}
