.search {
   background: #fff;
   padding: 20px 30px 20px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;

   &__input {
      border: 0;
      max-width: 255px;
      width: 100%;
      &:focus {
         outline: none;
      }
      &::placeholder {
         color: #b7b7b7;
         font-size: 16px;
         line-height: 20px;
      }
   }

   &__span {
   }
}
.categoriesHeader {
   background-color: #ebebeb;
   text-align: center;
   max-width: 360px;
   max-height: 40px;
   width: 100%;
   height: 100%;
   padding: 8px 0;

   h6 {
      color: #000;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 7.2px;
   }
}
.recent {
   margin: 25px 0;

   &__items {
      background: #fff;
      padding: 30px 0;
   }

   &__item {
      max-width: 312px;
      width: 100%;
      display: flex;
      margin: 25px auto 0;
      cursor: pointer;
      &:first-child {
         margin-top: 0;
      }
   }

   &__wrapper {
      max-width: 207px;
      width: 100%;
   }

   &__logo {
      margin-right: 15px;
      max-width: 90px;
      max-height: 65px;
      width: 100%;
      height: 100%;

      img {
         max-width: 90px;
         max-height: 65px;
         width: 100%;
         height: 100%;
      }
   }

   &__text {
      color: #3d3d3d;
      font-size: 16px;
      margin-bottom: 0;
      font-weight: 500;
      line-height: 20px;
   }

   &__date {
      color: #777;
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
   }
}
.instagram {
   margin: 40px 0;

   &__content {
      background: #fff;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 100px 1fr 1fr;
      grid-gap: 5px;
      padding: 30px 15px;
   }
}
.tags {
   &__content {
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      padding: 35px 0 30px 10px;
   }

   &__items {
      padding: 8px 15px;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      margin: 6px 3px;
      cursor: pointer;
      &:hover {
         background: #000;
         a {
            color: #fff;
         }
      }

      a {
         text-decoration: none;
         color: #9c9c9c;
         font-size: 13px;
         line-height: 24px;
      }
   }
}
