*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  color: #8c8c8c;
  background: #f5f5f7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
}

h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 7.2px;
  line-height: 24px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 9999;
  background: #fff;
}

.header .header__container .header__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  height: 90px;
  background: #fff;
  max-width: 1200px;
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 45px;
  z-index: 9999;
}

.header .header__container .header__content .header__logo {
  margin-right: 15px;
}

.header .header__container .header__content .header__nav {
  display: block;
}

.header .header__container .header__content .header__nav.active {
  display: none;
}

.header .header__container .header__content .header__nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.header .header__container .header__content .header__nav nav ul li {
  margin-right: 50px;
}

.header .header__container .header__content .header__nav nav ul li a {
  font-weight: 700;
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  line-height: 26px;
  background: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor)) 50% 100% no-repeat;
  background: linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
  background-size: 0 1px;
  -webkit-transition: background 250ms ease 0s;
  transition: background 250ms ease 0s;
}

.header .header__container .header__content .header__nav nav ul li a:hover {
  color: #000;
  background-size: 100% 1px;
}

.header .header__container .header__content .header__nav nav ul li:last-child {
  margin-right: 0;
}

.header .header__container__search {
  display: none;
  height: 50px;
  padding: 0;
}

.header .header__container__search .header__form {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__container__search .header__form .header__btn {
  max-width: 193px;
  width: 100%;
  height: 100%;
  padding: 16px 20px 14px;
  margin-right: 15px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background: #959595;
  border: 1px solid #959595;
}

.header .header__container__search .header__form .header__btn:focus {
  outline: none;
}

.header .header__container__search .header__form input {
  max-width: 900px;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 15px;
  padding: 15px 20px;
  font-size: 12pt;
  color: #fff;
  background: #959595;
}

.header .header__container__search .header__form input:focus {
  outline: none;
}

.header .header__container__search .header__form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.header .header__container__search .header__form input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.header .header__container__search .header__form input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.header .header__container__search .header__form input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

undefined {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

undefined {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

undefined {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.header .header__container__search .header__form input::placeholder {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 55px;
  right: 25px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 20;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  background-color: #8c8c8c;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu__box a {
  text-decoration: none;
}

.menu__box a.menu__item {
  text-transform: uppercase;
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu__box a.menu__item:hover {
  color: #000;
}

.nav__loopa .container {
  width: 0px;
  height: 43px;
  background: #999999;
  text-align: center;
  line-height: 45px;
  padding-right: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.nav__loopa .input {
  border: 0px;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__loopa .container .fa {
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 14px;
}

.nav__loopa .container.active {
  width: 250px;
  padding-left: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav__loopa .input.active {
  width: 98%;
  height: 50%;
  padding: 0 5px;
  color: #b7b7b7;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.35px;
  -webkit-transition: all 0.5s 0.8s ease;
  transition: all 0.5s 0.8s ease;
}

.nav__loopa input::-webkit-input-placeholder {
  color: #fff;
}

.nav__loopa input::-moz-placeholder {
  color: #fff;
}

.nav__loopa input:-ms-input-placeholder {
  color: #fff;
}

.nav__loopa input::-ms-input-placeholder {
  color: #fff;
}

undefined {
  color: #fff;
}

undefined {
  color: #fff;
}

undefined {
  color: #fff;
}

.nav__loopa input::placeholder {
  color: #fff;
}

.slaid {
  background: url(/img/section1-logo1.png) no-repeat center/cover;
}

.slaid .owl-carousel .item {
  padding: 260px 0 280px;
}

.slaid .owl-carousel .item .slaid__title {
  max-width: 650px;
  width: 100%;
  max-height: 65px;
  height: 100%;
  background: #000;
  text-align: center;
  margin: 0 auto;
}

.slaid .owl-carousel .item .slaid__title h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 38px auto 0;
  line-height: 1.4;
  letter-spacing: 3px;
}

.slaid .owl-carousel .item .slaid__subtitle {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.333;
  letter-spacing: 7px;
}

.slaid .owl-carousel .owl-dots {
  position: absolute;
  left: 47%;
  bottom: 13%;
  margin: 0;
}

.slaid .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.slaid .owl-carousel .owl-dots .owl-dot.active span {
  background: #000;
}

.slaid .owl-carousel .owl-dots .owl-dot span {
  background: #fff;
}

.slaid .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 0;
  width: 100%;
  top: 50%;
}

.slaid .owl-carousel .owl-nav button {
  height: 0;
}

.slaid .owl-carousel .owl-nav button:focus {
  outline: none;
}

.slaid .owl-carousel .owl-nav button span {
  font-size: 40px;
  color: #fff;
}

.filter {
  padding: 30px 0;
}

.filter .filter__wrapper {
  margin: 0;
}

.filter .filter__wrapper .tabs__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 25px;
  margin-bottom: 30px;
}

.filter .filter__wrapper .tabs__btns .tabs__btn {
  margin-right: 45px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter .filter__wrapper .tabs__btns .tabs__btn:hover {
  color: #000;
}

.filter .filter__wrapper .tabs__btns .tabs__btn:last-child {
  margin-right: 0;
}

.filter .filter__wrapper .tabs__btns .tabs__btn:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .filter .filter__wrapper .tabs__btns .tabs__btn {
    margin-right: 30px;
  }
}

.filter .filter__wrapper .tabs__cards {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  max-height: 1900px;
  height: 100%;
  width: auto;
  margin-bottom: 40px;
}

.filter .filter__wrapper .tabs__cards .tabs__card {
  margin-bottom: 20px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  display: none;
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.filter .filter__wrapper .tabs__cards .tabs__card.active {
  display: block;
}

.filter .filter__wrapper .tabs__cards .tabs__card img {
  width: 100%;
}

.filter .filter__wrapper .filter__more {
  width: 125px;
  height: auto;
  border: 1px solid #959595;
  background: #959595;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.filter .filter__wrapper .filter__more:focus {
  outline: none;
}

.filter .filter__wrapper .filter__more:hover {
  color: #000;
}

.aboutLian {
  background: url(/img/background-contact-section1.png) no-repeat right/contain;
  background-position: right 0% bottom 50%;
}

.aboutLian .aboutLian__title {
  max-width: 440px;
  width: 100%;
  max-height: 56px;
  height: 100%;
  background: #000;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 41px;
  max-width: 590px;
  margin-top: 115px;
}

.aboutLian .aboutLian__title h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.aboutLian .aboutLian__subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-bottom: 122px;
  margin-bottom: 122px;
}

.story {
  background: #fff;
  padding: 80px 0;
}

.story .story__img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.story .story__img img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.story .story__content .story__text h4 {
  margin: 10px 0 45px;
}

.story .story__content .story__text p {
  max-width: 540px;
  width: 100%;
  margin: 45px 0;
}

.story .story__content .story__statistics .story__items .story__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 18px 0 10px;
}

.story .story__content .story__statistics .story__items .story__item h6 {
  color: #2f302f;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.4px;
}

.story .story__content .story__statistics .story__items .story__item .story__percent {
  width: 40px;
  height: 21px;
  padding: 11px 9px;
  margin-right: 26px;
  background-color: #041608;
  position: relative;
}

.story .story__content .story__statistics .story__items .story__item .story__percent::before {
  content: "";
  position: absolute;
  right: 54%;
  border: 9px solid transparent;
  border-left: 9px solid #041608;
}

.story .story__content .story__statistics .story__items .story__item .story__percent p {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 0;
}

.story .story__content .story__statistics .story__items .story__item .percent__two {
  margin-right: 5px;
}

.story .story__content .story__statistics .story__items .story__item .percent__three {
  margin-right: 225px;
}

.story .story__content .story__statistics .story__items .story__item .percent__four {
  margin-right: 47px;
}

.story .story__content .story__statistics .story__wrapper {
  max-width: 550px;
  width: 100%;
  height: 8px;
  height: 100%;
  padding: 3px 0 3px 3px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  position: relative;
}

.story .story__content .story__statistics .story__wrapper .story__wrapper_line {
  max-width: 475px;
  width: 100%;
  height: 0;
  height: 100%;
  border: 1px solid #a1a1a1;
  background-color: #a1a1a1;
}

.story .story__content .story__statistics .story__wrapper .story__wrapper_line .story__wrapper_dot {
  position: absolute;
  font-size: 8px;
  color: #000;
  right: 11%;
  top: 1%;
}

.story .story__content .story__statistics .story__wrapper .line__two {
  max-width: 490px;
  width: 100%;
}

.story .story__content .story__statistics .story__wrapper .line__two .story__wrapper_dot {
  right: 7%;
}

.story .story__content .story__statistics .story__wrapper .line__three {
  max-width: 276px;
  width: 100%;
}

.story .story__content .story__statistics .story__wrapper .line__three .story__wrapper_dot {
  right: 48%;
}

.story .story__content .story__statistics .story__wrapper .line__four {
  max-width: 450px;
  width: 100%;
}

.story .story__content .story__statistics .story__wrapper .line__four .story__wrapper_dot {
  right: 15%;
}

.kerb .kerb__wrapper {
  height: 90px;
  width: 100%;
  background: #fff;
}

.about {
  background: url(/img/background-blog-section1.png) no-repeat;
  background-position: right 45% bottom 50%;
}

.about .about__title {
  max-width: 440px;
  width: 100%;
  max-height: 56px;
  height: 100%;
  background: #000;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 41px;
  max-width: 550px;
}

.about .about__title h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.about .about__subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-bottom: 122px;
}

.blog {
  background: #fff;
  padding: 70px 0 0;
}

.blog .blog__title {
  text-align: center;
}

.blog .blog__title h2 {
  color: #333333;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 4.5px;
  margin-bottom: 25px;
}

.blog .blog__title .blog__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blog .blog__title .blog__subtitle p {
  color: #777777;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  margin-right: 60px;
}

.blog .blog__title .blog__subtitle p:last-child {
  margin-right: 0;
}

.blog .blog__title .blog__subtitle p i {
  margin-right: 10px;
}

.blog .blog__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.blog .blog__text {
  max-width: 810px;
  width: 100%;
  margin: auto;
}

.blog .blog__text p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
}

.blog .blog__text p span {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 45px;
  text-transform: uppercase;
}

.blog .blog__note {
  max-width: 942px;
  width: 100%;
  margin: 33px auto;
  border: 1px solid #e7e6e6;
  border-left: 3px solid #afafaf;
  padding: 25px 35px;
}

.blog .blog__note p {
  max-width: 870px;
  width: 100%;
  color: #777777;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.comment {
  background: #fff;
  padding: 50px 0;
}

.comment .comment__container {
  max-width: 810px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.comment .comment__container h5 {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.comment .comment__container form .comment__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 0 22px;
}

.comment .comment__container form .comment__input input {
  border: 1px solid #e7e6e6;
  padding: 15px;
  max-width: 353px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  max-width: 250px;
}

.comment .comment__container form .comment__input input::-webkit-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form .comment__input input::-moz-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form .comment__input input:-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form .comment__input input::-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form .comment__input input::placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form .comment__input input:focus {
  outline: none;
}

.comment .comment__container form .comment__input .comment__name {
  border-left: 3px solid #afafaf;
}

.comment .comment__container form textarea {
  max-width: 750px;
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid #e7e6e6;
  resize: none;
  margin-bottom: 29px;
  max-width: 810px;
}

.comment .comment__container form textarea::-webkit-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form textarea::-moz-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form textarea:-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form textarea::-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form textarea::placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.comment .comment__container form textarea:focus {
  outline: none;
}

.comment .comment__container form .comment__btn {
  width: 218px;
  height: 39px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.33px;
  text-transform: uppercase;
  letter-spacing: 0.79px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.comment .comment__container form .comment__btn:hover {
  background: #fff;
  color: #000;
}

.getInTouch {
  background: url(/img/background-contact-section1.png) no-repeat right/contain;
}

.getInTouch .getInTouch__title {
  max-width: 440px;
  width: 100%;
  max-height: 56px;
  height: 100%;
  background: #000;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 41px;
}

.getInTouch .getInTouch__title h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.getInTouch .getInTouch__subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-bottom: 122px;
}

.contact {
  padding: 80px 0;
}

.contact .contact__info .contact__title {
  position: relative;
}

.contact .contact__info .contact__title h2 {
  color: #000000;
  font-size: 30px;
  letter-spacing: 12px;
  line-height: 24px;
  text-transform: uppercase;
  line-height: 1.5em;
}

.contact .contact__info .contact__title p {
  color: #2f302f;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 30px;
}

.contact .contact__info .contact__title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 60px;
  background: #000000;
  border-radius: 10px;
  top: 95px;
}

.contact .contact__info .contact__address {
  margin-top: 65px;
}

.contact .contact__info .contact__address span {
  color: #222222;
  font-weight: 700;
  letter-spacing: 0.38px;
  font-size: 15px;
  margin-right: 10px;
}

.contact .contact__info .contact__address p {
  color: #777777;
  margin-bottom: 35px;
}

.contact .contact__info .contact__tel span {
  color: #222222;
  font-weight: 700;
  letter-spacing: 0.38px;
  font-size: 15px;
  margin-right: 10px;
}

.contact .contact__info .contact__tel p {
  color: #555555;
  font-weight: 700;
  letter-spacing: 0.38px;
  line-height: 15px;
}

.contact .contact__message form .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.contact .contact__message form .contact__form input {
  border: 1px solid #e7e6e6;
  padding: 15px;
  max-width: 353px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.contact .contact__message form .contact__form input::-webkit-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .contact__form input::-moz-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .contact__form input:-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .contact__form input::-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .contact__form input::placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .contact__form input:focus {
  outline: none;
}

.contact .contact__message form .contact__form .form__name {
  border-left: 3px solid #afafaf;
}

.contact .contact__message form .form__textarea {
  max-width: 750px;
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid #e7e6e6;
  resize: none;
  margin-bottom: 29px;
}

.contact .contact__message form .form__textarea::-webkit-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .form__textarea::-moz-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .form__textarea:-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .form__textarea::-ms-input-placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

undefined {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .form__textarea::placeholder {
  color: #bababa;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-style: italic;
}

.contact .contact__message form .form__textarea:focus {
  outline: none;
}

.contact .contact__message form .form__btn {
  width: 218px;
  height: 39px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.33px;
  text-transform: uppercase;
  letter-spacing: 0.79px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact .contact__message form .form__btn:hover {
  background: #fff;
  color: #000;
}

.our-values {
  background: #fafafa;
}

.our-values .our-values__content {
  text-align: center;
  max-width: 595px;
  width: 100%;
  margin: 71px auto 63px;
}

.our-values .our-values__content .content__title {
  color: #000000;
  font-family: "Roboto Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.our-values .our-values__content .content__subtitle {
  font-family: "Roboto - Regular";
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
  color: #777777;
  font-size: 14px;
}

.our-values .our-values__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 15px;
}

.our-values .our-values__about-us .about-us__item {
  padding: 0;
  max-width: 354px;
  width: 100%;
  height: auto;
  margin-right: 24px;
  margin-bottom: 45px;
}

.our-values .our-values__about-us .about-us__item:last-child {
  margin-right: 0;
}

.our-values .our-values__about-us .about-us__item .about-us__title {
  margin: 27px 0 45px;
}

.our-values .our-values__about-us .about-us__item .about-us__text {
  font-family: "Roboto - Regular";
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
  color: #777777;
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .footer .our-values .our-values__about-us .about-us__item:first-child {
    margin-right: 30px;
  }
  .footer .our-values .our-values__about-us .about-us__item:nth-child(2) {
    margin-right: 0;
    margin-left: 30px;
  }
  .footer .our-values .our-values__about-us .about-us__item:last-child() {
    margin-top: 30px;
  }
}

.footer {
  padding-top: 64px;
  background: #fff;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 44px;
  position: relative;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
  border-top: 1px solid #95959573;
  border-bottom: 1px solid #95959573;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__icons a {
  margin-right: 55px;
  font-size: 14px;
  color: #959595;
}

.footer__icons a:last-child {
  margin-right: 0;
}

.footer__icons a:hover {
  color: #000;
}

.footer p {
  font-size: 13px;
  color: #959595;
  text-transform: uppercase;
  text-align: center;
  margin: 37px 15px 47px;
  position: relative;
}

.footer p span {
  color: #000;
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 35px;
  }
  .footer__logo {
    margin-bottom: 35px;
  }
  .footer__icons a {
    margin-right: 30px;
  }
  .footer p {
    margin: 25px 15px;
  }
}
